.DS_Store
node_modules/
dist/
dist.*
*.zip
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
tests/**/coverage/
.history
components.d.ts
key.pem
yarn.lock
.vuepress/.cache
.vuepress/.temp

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
*.rar
.prettierrc
package-lock.json

docs/.vuepress/cache
docs/.vuepress/dist
blog.tar.gz
packages/theme/node.d.ts
packages/theme/node.js
_pagefind

deploy
deploy-theme
